:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color:#2b2b2b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #4077ae; /* blue (update) */
  --color-danger: #ce4242; /* red (delete) */
  --color-success: #41c973; /* green (finish) */
  --color-background: #2b2b2b; /* dark background */
  --color-secondary: #fbfbfb; /* light background */
  --color-text-primary: #ffffff;
  --color-text-secondary: #cccccc;

  .bg-primary {
    background-color: var(--color-primary);
  }
  .bg-danger {
    background-color: var(--color-danger);
  }
  .bg-success {
    background-color: var(--color-success);
  }
  .bg-background {
    background-color: var(--color-background);
  }
  .bg-secondary {
    background-color: var(--color-secondary);
  }
}
@import "tailwindcss";
